<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc-006-view:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc_006_view_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc-006-view" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:6.1.11" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:6.1.11" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:6.1.11" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:6.1.11" />
          <element id="library" level="project" name="Maven: io.micrometer:micrometer-observation:1.12.8" />
          <element id="library" level="project" name="Maven: io.micrometer:micrometer-commons:1.12.8" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:6.1.11" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:6.1.11" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:6.1.11" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:6.1.11" />
          <element id="library" level="project" name="Maven: org.thymeleaf:thymeleaf-spring6:3.1.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.thymeleaf:thymeleaf:3.1.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.attoparser:attoparser:2.0.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.unbescape:unbescape:1.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:2.0.7" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springmvc-006-view/web/Web" />
    </root>
  </artifact>
</component>